#!/bin/sh
DIR=/home/{{ ansible_user }}/haproxy
PIDFILE=${DIR}/haproxy.pid

start()
{
   touch ${PIDFILE}
   sudo haproxy -f /etc/haproxy/haproxy.cfg -f ${DIR} -p ${PIDFILE}
}

stop()
{
   if [ -f ${PIDFILE} ]; then
           sudo kill $(cat ${PIDFILE})
           rm -rf ${PIDFILE}
   fi
}

"$@"

