check process haproxy with pidfile /home/{{ ansible_user }}/haproxy/haproxy.pid
  start program = "/home/{{ ansible_user }}/haproxy/haproxy.sh start"
  stop program  = "/home/{{ ansible_user }}/haproxy/haproxy.sh stop"
